.app {
  overflow: hidden;
  background-color: #023047;
  width: 100vw;
  height: 100vh;

  .wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .array-container {
      display: flex;
      gap: 2px;
      justify-content: center;
      align-items: start;
      transform: rotate(180deg);
      position: absolute;
      bottom: 0;

      .array-bar {
        width: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #fb8500;

        &.compared {
          background-color: black;
          // background-color: #219ebc;
        }

        &.swapped {
          background-color: white;
          // background-color: #8ecae6;
        }

        &.done {
          background-color: #cdfb00cb;
        }
      }
    }
  }
}
